<div class="ltt-body-content">
  <div class="ltt-news-feed">
    <div class="left-news-feed">
      <%= render "left_news_feed", followings: followings, know_users: know_users %>
    </div>
    <div class="middle-news-feed">
      <%= render "middle_news_feed", images: images %>
    </div>
    <div class="right-news-feed">
      <%= render "right_news_feed", popular_images: popular_images %>
    </div>

    <div id="images-upload-modal" class="modal fade" role="dialog">
    </div>
  </div>
</div>