$blue-dark: #365899;
$black-color: #000;
$black-light: #dddfe2;

.comments {
  margin-bottom: 10px;

  .comments-header {
    margin-bottom: 10px;

    .avatar-reply-comment {
      height: 30px;
      width: 30px;
    }

    .comments-header-content {
      .comments-header-avatar {
        border: 1px solid $black-color;
        display: block;
        float: left;
        height: 40px;
        margin-right: 5px;
        width: 40px;
      }

      .comments-header-info {
        overflow: hidden;
        position: relative;

        h6 {
          color: $blue-dark;
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 0 !important;
          margin-top: 0 !important;
        }

        .comments-header-user {
          width: 100%;
        }

        .comment-info-action {
          margin-bottom: 10px;
        }
      }
    }
  }
}

.repply-comments {
  border-left: 2px solid $black-light;
  padding-left: 10px;
}
